.info-box {
  background-color: var(--home-box-bg);
  border: 1px solid var(--default-border);
/*
  .header {

      h4 {
          color: var(--custom-gray);
          margin-left: 20px;
      }
  }

  .body {
      margin-left: 20px;

      h4{
          color: var(--secondary-color);
      }
  } */
}
