.graph{
    width: 200px;
    height: fit-content;
    padding: 10px;

    .donut-container {
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto;
    }

    .donut-inner {
        background-color: white;
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
    
    .donut-text {
        font-weight: bolder;
    }
}